{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue à la page de connection !!</h1>

    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" placeholder="Adresse email ...." class="form-control"
                   required name="_username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Mot de passe ...." class="form-control"
                   required name="_password">
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Connexion</button>
        </div>


    </form>

{% endblock %}