

{% block body %}



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <body style=" background-image: url('https://wallpaperscraft.com/image/apple_brand_imac_desk_keyboard_79998_1680x1050.jpg');">
    <div id="fullscreen_bg" class="fullscreen_bg"/>

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div  style="margin: 200px 200px 200px 200px" id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form action="{{ path('security_login') }}" method="post">

                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input type="text" placeholder="Adresse email ...." class="form-control"
                                       required name="_username">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" placeholder="Mot de passe ...." class="form-control"
                                       required name="_password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit">Connexion</button>
                            </div>
                            <div id="register-link" class="text-right">
                                <a style="font-size: 20px ; text-align: right" href="{{ path('security_registration') }}" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>





















{% endblock %}